<div class="row bgTask" *ngIf="!isEditing">
  <p class="title">{{task.titulo}}</p>
  <p class="descricao">{{task.descricao}}</p>
  <button class="editTaskButton" (click)="setIsEditing()"><fa-icon [icon]="faPenSquare"></fa-icon></button>
  <button class="deleteTaskButton" (click)="deleteThisTask()"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
</div>
<app-edit-task [task]="task" [taskListId]="taskListId" (isEditingEventEmitter)="setIsEditing()" *ngIf="isEditing" [cdkDragDisabled]="true"></app-edit-task>



