.bgTask {
  background-color: rgb(243 243 243 / 50%);
  box-shadow: 0px 0px 2px 0px #0000004f;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
  position: relative;
  overflow: hidden;
  cursor: move;
}

.bgTask:hover {
  background-color: rgb(243, 243, 243);
}

p {
  margin: 0px;
}

.title {
  font-size: 17px;
}

.descricao {
  color: gray;
}

.bgTask:hover .deleteTaskButton {
  display: block;
}

.deleteTaskButton {
  display: none;
  position: absolute;
  width: auto;
  right: 10px;
  transform: translateY(50%);
  bottom: 50%;
  background-color: transparent;
  padding: 0;
  font-size: 22px;
  color: #b6b6b6;;
  font-weight: bold;
  border: none;
}

.deleteTaskButton:hover {
  color: #808080;;
}

.bgTask:hover .editTaskButton {
  display: block;
}

.editTaskButton {
  display: none;
  position: absolute;
  width: auto;
  right: 40px;
  transform: translateY(50%);
  bottom: 50%;
  background-color: transparent;
  padding: 0;
  font-size: 25px;
  color: #b6b6b6;;
  font-weight: bold;
  border: none;
}

.editTaskButton:hover {
  color: #808080;;
}

@media only screen and (max-width: 768px) {
  .deleteTaskButton {
    display: block;
  }
  .editTaskButton {
    display: block;
  }
}

.cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
