<div class="p-3 ms-4 taskList" [ngStyle]="{'border-top': this.borderTop}">

  <h4 class="mb-2">{{taskList.title}}</h4>

  <button (click)="deleteThisTaskList()">
    <fa-icon [icon]="faTrashAlt"></fa-icon>
  </button>

  <div class="tasksContainer row" id="{{taskList.id}}"
    cdkDropList
    [cdkDropListData]="taskList.tasks"
    (cdkDropListDropped)="drop($event)">

    <app-task
      *ngFor="let task of taskList.tasks"
      [taskListId]="taskList.id"
      [borderColor]="borderTop"
      [task]="task"
      cdkDrag
      [cdkDragData]="task"
      [cdkDragStartDelay]="cdkDragStartDelay"
      [cdkDragDisabled]="!isDraggable">
    </app-task>

  </div>

  <app-new-task [taskListId]="taskList.id"></app-new-task>

</div>
