.taskList {
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #0000004f;
  width: 310px;
  max-width: 92%;
  cursor: pointer;
}

.tasksContainer {
  max-height: 60vh;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  overflow-y: scroll;
}

/* SCROLL BAR SETTINGS */

.tasksContainer::-webkit-scrollbar {
  width: 4px;
}

.tasksContainer::-webkit-scrollbar-track {
  background: transparent;
}

.tasksContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.226);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

/* CDK DRAG&DROP ANIMATIONS */

.cdk-drag {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -o-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -o-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  visibility: hidden;
}
