.taskList {
  background-color: var(--card-background);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: var(--card-box-shadow);
  width: 310px;
  max-width: 92%;
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  h4 {
    color: var(--title-color);
  }

  &:hover button {
    display: block;
  }

  #info-tooltip {
    display: block;
  }

  button {
    border: none;
    background: transparent;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 22px;
    color: var(--icon-color);
    display: none;

    &:hover {
      color: var(--icon-color-hover);

      .tooltip-tasklist {
        display: block;
      }
    }

    .tooltip-tasklist {
      background: var(--tool-tip-background);
      box-shadow: var(--card-box-shadow);
      padding: 15px;
      border-radius: 8px;
      position: absolute;
      z-index: 1;
      translate: -140px;
      width: 300px;
      margin-top: 13px;
      display: none;

      @media screen and (max-width: 768px) {
        translate: -260px;
      }

      &::before {
        content: "\a";
        border-style: solid;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 15px solid var(--tool-tip-background);
        border-top: transparent;
        position: absolute;
        top: -15px;
        translate: -11px;

        @media screen and (max-width: 768px) {
          translate: -16px;
          right: 0;
        }
      }

      img {
        width: 100%;
        border-radius: 5px;
      }

      p {
        color: var(--tool-tip-text);
        text-align: center;
        font-size: 15px;
        line-height: 16px;
        margin-top: 15px;
        margin-bottom: 0;
      }
    }
  }

  .tasksContainer {
    max-height: 60vh;
    padding-bottom: 10px;
    overflow-y: scroll;
    min-height: 80.5px;
    background: var(--primary-background);
    margin-right: 0px;
    margin-left: 0px;
    border-radius: 5px;
    margin-top: 15px;

    /* SCROLL BAR SETTINGS */

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.226);
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
    }
  }
}

/* CDK DRAG&DROP ANIMATIONS */

.cdk-drag {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -o-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag:active {
  transform: scale(0.95);
}

.cdk-drag-animating {
  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -o-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0.4;
}
