<nav class="navbar">

  <a class="navbar-brand px-3">
    <fa-icon [icon]="faBars" (click)="toogleLeftBar()"></fa-icon>
    {{navbarTitle}}
  </a>

  <div class="profile">
    <p>Olá, {{user?.firstName}}</p>
    <img [src]="this.profilePicture" (click)="goToUserProfile()">
  </div>

</nav>

<div id="left-bar" class="hide-left-bar">

  <div class="table-link"
    *ngFor="let table of tables"
    [routerLink]="'table/' + table.id"
    routerLinkActive="active"
    (click)="toogleLeftBar()">
    <p>{{table.name}}</p>
    <button (click)="deleteTable(table)">
      <fa-icon [icon]="faTrashAlt"></fa-icon>
    </button>
  </div>

  <div class="new-table" (click)="addNewTable()">
    <p>Criar nova tabela</p>
  </div>

</div>
