.navbar {
  z-index: 999;
  background-color: var(--card-background) !important;
  box-shadow: var(--card-box-shadow);
  position: relative;
  user-select: none;

  fa-icon {
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;
    color: var(--title-color);

    &:hover {
      opacity: 0.8;
    }

    @media screen and (min-width: 768px){
      margin-left: 10px;
    }
  }

  .navbar-brand {
    color: var(--title-color);
    align-items: center;
    display: flex;

    @media screen and (max-width: 768px){
      padding-bottom: 0px;
      padding-top: 0px;
    }
  }

  .navbar-toggler {
    margin-right: 10px;
  }

  .link-active {
    font-weight: bolder;
    max-height: 70px;
  }

  .profile {
    display: inline-flex;
    height: 40px;
    margin-right: 20px;
    align-items: center;
    margin-left: auto;

    @media screen and (max-width: 768px){
      margin-right: 15px;
    }

    p {
      margin-bottom: 0;
      font-size: 18px;
      color: var(--title-color);

      @media screen and (max-width: 768px){
        display: none;
      }
    }

    img {
      width: auto;
      height: 90%;
      margin-left: 10px;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

#left-bar {
  height: 100vh;
  width: 340px;
  background-color: var(--left-bar-background);
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: var(--card-box-shadow);
  padding-top: 80px;
  z-index: 99;
  user-select: none;

  @media screen and (min-width: 768px){
    padding-top: 88px;
  }

  transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);
  -o-transition: transform 100ms cubic-bezier(0, 0, 0.2, 1);

  .table-link,
  .new-table {
    width: 90%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 16px;
    border-radius: 10px;
    margin-bottom: 15px;
    border-top: solid 7px #bdbdbd;
    box-shadow: var(--card-box-shadow);
    background-color: var(--card-background);

    p {
      margin: 0;
      color: var(--title-color);
      font-size: 18px;
    }
  }

  .new-table {
    text-align: center;
    background-color: var(--bg-darker-button);
    border: solid 2px #bdbdbd;

    &:hover {
      background-color: var(--bg-darker-button-hover);
    }
  }
}

.hide-left-bar {
  transform: translateX(-100%);
}

.show-left-bar {
  transform: translateX(0);
}

.table-link.active {
  border-color: #00b783 !important;
  font-weight: bold;
}


