<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand px-3">
    <fa-icon [icon]="faTrashAlt"></fa-icon>Workspace
  </a>
  <button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/table" routerLinkActive="link-active"></a>
      </li>
    </ul>
  </div>

  <div class="profile">
    <p>Olá, {{user?.firstName}}</p>
    <img [src]="this.profilePicture" (click)="goToUserProfile()">
  </div>

</nav>
