.navbar {
  z-index: 9999999;
  background-color: var(--card-background) !important;
  box-shadow: var(--card-box-shadow);
  position: relative;

  fa-icon {
    font-size: 25px;
    margin-right: 20px;
    color: var(--title-color);

    @media screen and (min-width: 768px){
      margin-left: 10px;
    }
  }

  .navbar-brand {
    color: var(--title-color);
    align-items: center;
    display: flex;

    @media screen and (max-width: 768px){
      padding-bottom: 0px;
      padding-top: 0px;
    }
  }

  .navbar-toggler {
    margin-right: 10px;
  }

  .link-active {
    font-weight: bolder;
    max-height: 70px;
  }

  .profile {
    display: inline-flex;
    height: 40px;
    margin-right: 20px;
    align-items: center;

    @media screen and (max-width: 768px){
      margin-right: 15px;
    }

    p {
      margin-bottom: 0;
      font-size: 18px;
      color: var(--title-color);

      @media screen and (max-width: 768px){
        display: none;
      }
    }

    img {
      width: auto;
      height: 90%;
      margin-left: 10px;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}


