.bgNewTask {
  background-color: var(--bg-darker-button);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 2px;
  padding-bottom: 2px;

  &:hover {
    background-color: var(--bg-darker-button-hover);
  }

  form {
    .formBtns {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;

      .btn-primary {
        width: 49%;
      }

      .btn-secondary {
        width: 49%;
      }
    }
  }
}

.newTaskButton {
  border: none;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  width: 100%;

  p {
    margin: 0px;
  }

  .newTask {
    color: var(--text-color);
    font-weight: lighter;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    text-align: center;
  }
}


