<button class="newTaskButton" *ngIf="!isAdding" (click)="setIsAdding()">
  <div class="row bgNewTask">
    <p class="newTask">Adicione uma tarefa</p>
  </div>
</button>
<div class="row bgNewTask" *ngIf="isAdding">
  <form>
    <div class="form-group mt-2">
      <input [(ngModel)]="newTask" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Task Name">
    </div>
    <div class="form-group mt-2">
      <input [(ngModel)]="newTaskDescription" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Task Description">
    </div>
    <div class="formBtns">
      <button (click)="addNewTask()" class="btn btn-primary my-2 py-1">Adicionar</button>
      <button (click)="setIsAdding()" class="btn btn-secondary my-2 py-1">Cancelar</button>
    </div>
  </form>
</div>
