.new-table-container {
  background-color: var(--card-background);
  width: max-content;
  padding: 40px 60px;
  border-radius: 20px;
  margin: 60px auto auto;
  box-shadow: var(--card-box-shadow);

  display: flex;
  flex-flow: column;
  align-items: center;

  @media screen and (max-width: 768px) {
    width: 90%;
    padding: 16px;
    border-radius: 10px;
    margin: 20px auto auto;
  }

  .title {
    font-size: 35px;
    color: var(--title-color);
    font-weight: bold;

    @media screen and (max-width: 768px) {
      font-size: 25px;
      font-weight: 500;
    }
  }

  .line {
    height: 1px;
    background: #a3a3a3;
    opacity: 0.3;
    width: 50%;
    margin-bottom: 15px;

    @media screen and (max-width: 768px) {
      width: 90%;
    }
  }

  .witch-metodology {
    color: var(--text-color);
    font-size: 27px;
    opacity: 0.7;

    @media screen and (max-width: 768px) {
      font-size: 17px;
    }
  }

  .table-options {

    display: flex;
    gap: 15px;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
      gap: 10px;
      overflow-x: auto;
      width: 100vw;
      padding-left: 35px;
      padding-right: 35px;
      margin-bottom: 15px;
    }

    button {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      font-size: 25px;
      color: var(--card-background);
      border: none;
      transition: scale 150ms;

      @media screen and (max-width: 768px) {
        height: 130px;
        flex: 0 0 130px;
        border-radius: 6px;
      }

      &:hover {
        scale: 1.02;
      }
    }

    .kamban {
      background: #BCBCBC;
    }
    .lean {
      background: #76C3E3;
    }
    .scrum {
      background: #FDC064;
    }
    .others {
      background: #6FCF84;
    }
  }

  .dont-worry {
    color: var(--text-color);
    font-size: 20px;
    margin-bottom: 10px;
    opacity: 0.7;

    @media screen and (max-width: 768px) {
      font-size: 14px;
      text-align: center;
      line-height: 16px;
    }
  }

  .or {
    color: var(--text-color);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;

    @media screen and (max-width: 768px) {
      font-size: 17px;
    }
  }

  .empty-workspace {
    margin: auto;
    background-color: transparent;
    border: none;
    color: var(--blue-anchor);
    font-size: 20px;
    font-weight: 500;
    transition: scale 150ms;

    @media screen and (max-width: 768px) {
      font-size: 15px;
      text-align: center;
      margin-bottom: 10px;
    }

    &:hover {
      scale: 1.02;
    }
  }
}
