.login-area {
  width: 100%;
  height: 100%;
  background: #f3efe8;
  position: fixed;
  top: 0;
  z-index: 9999999;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .login-block {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
  }
}

.login-block {
  width: 90%;
  max-width: 500px;
  min-height: 500px;
  margin-left: auto;
  margin-bottom: 100px;
  display: flex;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 2px 5px 1px #00000013;
  border-radius: 25px;
  flex-flow: column;
  padding: 40px;
}

@media screen and (max-width: 768px) {
  button {
    font-size: 18px !important;
  }
}

button {
  width: -webkit-fill-available;
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  position: relative;
}

button:hover {
  filter: brightness(0.95);
}

#facebook {
  background-color: #0044ff;
}

#google,
#singOut {
  color: #484848;
  background-color: #ffffff;
  border: solid 1px #3e3e3e;
}

#google img,
#facebook img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
}

#skip-to-table {
  background-color: #0044ff;
}

#avatar-picture {
  width: 180px;
  height: 180px;
  background-color: black;
  margin-bottom: 25px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 2px #303030;
}

img {
  height: 115%;
}

.blur {
  height: 100% !important;
  filter: blur(3px);
}

span {
  font-size: 25px;
  font-weight: bold;
  color: #3e3e3e;
  line-height: 20px;
  margin-top: 15px;
}

p {
  margin-bottom: 5px;
  font-size: 18px;
  color: #484848;
}
