.login-area {
  width: 100%;
  height: 100%;
  background-color: rgb(239 239 239);
  position: fixed;
  top: 0;
  z-index: 9999999;
  display: flex;
  align-items: center;
}

.login-block {
  width: 90%;
  max-width: 500px;
  min-height: 500px;
  margin-left: auto;
  margin-bottom: 100px;
  display: flex;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 2px 5px 1px #00000013;
  border-radius: 25px;
  flex-flow: column;
  padding: 40px;
}

button {
  width: -webkit-fill-available;
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  position: relative;
}

button:hover {
  box-shadow: 0px 2px 2px 1px #00000048;
}

#facebook {
  background-color: #0044ff;
}

#google {
  color: #484848;
  background-color: #ffffff;
  border: solid 1px #3e3e3e;
}

#google img,
#facebook img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
}

#singOut {
  background-color: #000000b5;
}

#skip-to-table {
  background-color: #0044ff;
}

#avatar-picture {
  width: 200px;
  height: 200px;
  background-color: black;
  margin-bottom: 15px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 6px #0044ff;
  box-shadow: 0px 0px 0px 5px #2c2c2c;
}

img {
  width: 115%;
  height: 115%;
}

.blur {
  filter: blur(3px);
}

span {
  font-size: 25px;
  font-weight: bold;
  color: #3e3e3e;
}

p {
  margin-bottom: 5px;
  font-size: 18px;
  color: #484848;
}
