.bgEditTask {
  background-color: var(--card-background);
  box-shadow: var(--card-box-shadow);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 2px;
  padding-bottom: 2px;

  .formBtns {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .btn-primary {
    width: 49%;
  }

  .btn-secondary {
    width: 49%;
  }
}
